body {
  background: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .left-items-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .width-58 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .width-42 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .block {
    display: block !important;
  }
}